@page
@model VetCare.Pages.Consultatii.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consultatie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Consultatie.ProgramareId" class="control-label">Alege Programarea</label>
                <select asp-for="Consultatie.ProgramareId" class="form-control" asp-items="ViewBag.ProgramareId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Consultatie.Diagnostic" class="control-label"></label>
                <input asp-for="Consultatie.Diagnostic" class="form-control" />
                <span asp-validation-for="Consultatie.Diagnostic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consultatie.Tratament" class="control-label"></label>
                <input asp-for="Consultatie.Tratament" class="form-control" />
                <span asp-validation-for="Consultatie.Tratament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consultatie.Observatii" class="control-label"></label>
                <input asp-for="Consultatie.Observatii" class="form-control" />
                <span asp-validation-for="Consultatie.Observatii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consultatie.Data" class="control-label"></label>
                <input asp-for="Consultatie.Data" class="form-control" />
                <span asp-validation-for="Consultatie.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
